* @SzymonPajzert

/data/scrapers/src/scrapers/article/ @agluszak @jaredowa @krasnoludkolo @mikipacman @upturnow
/data/scrapers/src/scrapers/wiki/ @agluszak @jaredowa @krasnoludkolo @mikipacman @upturnow
