# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.eslintcache

# Logs
logs*.txt
cypress_debug_*.txt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Firebase service auth
service_account.json

# Sentry Config File
.env.sentry-build-plugin
