rules_version = '2';

service cloud.firestore {
  match /databases/koryta-pl/documents {
    match /tasks/{taskId} {
      allow read: if request.auth != null && request.auth.token.trusted == true;
      allow write: if true;
    }
    match /external/{taskId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.trusted == true;
    }
    // match /votes/{taskId} {
    //   // TODO
    // }
    // match /merges/{taskId} {
    //   // TODO
    // }
    match /article/{entityId} {
      allow read: if true;
    }
    match /person/{entityId} {
      allow read: if true;
    }
    match /place/{entityId} {
      allow read: if true;
    }
  }
}