.env

*.csv
*.json
*.jsonl

.coverage

downloaded
versioned*

# JSON credentials
koryta-pl*.json

.ipynb_checkpoints

# Except
!data/scrapers/src/scrapers/article/huggingface_models/herbert-base-ner/**