.env

*.csv
*.json
*.jsonl
!package.json
!package-lock.json
!src/**/verified_selectors.json

.coverage

downloaded*
versioned*

# JSON credentials
koryta-pl*.json

.ipynb_checkpoints
# Allow for test_data
!src/scrapers/article/test_data/*
crawler_output
logs/
node_modules/

# from pytest-fast-first
.pytest-runtimes