[importlinter]
root_packages =
    analysis
    scrapers
    stores
    util
    entities

include_external_packages = True
exclude_type_checking_imports = True

[importlinter:contract:clean-architecture]
name = Clean architecture
type = layers
layers =
    analysis
    # corresponds to adapters
    stores 
    # corresponds to use_cases
    scrapers 
    util       
    # core logic
    entities  

[importlinter:contract:only-details-can-import-external]
name = Do not import external packages
type = forbidden
source_modules =
    util
    scrapers
    entities
forbidden_modules =
    bz2
   # TODO xml
   # TODO xml.**
    duckdb
    duckdb.**
    urllib
    urllib.**
    os
    os.**
    sys
    sys.**
    zipfile
   # TODO tqdm
   # tqdm.**
    google
    google.**
    firebase_admin
    firebase_admin.**
    bs4
    bs4.**
    zipfile
    zipfile.**
    io
    fnmatch
    csv
ignore_imports=
    entities.util -> urllib

    
