[importlinter]
root_packages =
    analysis
    scrapers
    stores
    util
    entities

include_external_packages = True
exclude_type_checking_imports = True

[importlinter:contract:clean-architecture]
name = Clean architecture
type = layers
layers =
    # TODO extractors

    analysis
    scrapers
    stores
    util
    entities

[importlinter:contract:only-details-can-import-external]
name = Clean architecture
type = layers
layers =
    # TODO extractors

    analysis
    scrapers
    stores
    util
    entities    

    
